<hr style="border:5px solid #108999"> </hr>

In [18]:
s= "hi i am pramod"
s.split( " ",3)

['hi', 'i', 'am', 'pramod']

In [2]:
s.split(" ")

['hi', 'i', 'am', 'pramod']

In [8]:
s.lstrip("hi ")

'am pramod'

In [20]:
s.rstrip("pramod")

'hi i am '

In [10]:
s.strip("id")

'hi i am pramo'

In [31]:
s.upper()
s.lower()
s.capitalize()
s.title()
s.replace("pramod","sanketh")
s.startswith("hi")
s.endswith("pramod")

True

In [76]:
s.isnumeric()
s.isdigit()
s.islower()

True

False

In [1]:
s="price per unit"

In [2]:
s.replace("price","cost")

'cost per unit'

In [3]:
s.endswith("nit")

True

In [4]:
s.startswith("pri")

True

In [5]:
len(s.split())
print(s.split(" ",0))
print(s.split(" ",1))
print(s.split(" ",2))
s.split(" ")[2]

['price per unit']
['price', 'per unit']
['price', 'per', 'unit']

'unit'

In [6]:
len(s.split(" ",1))

2

In [7]:
s.upper()

'PRICE PER UNIT'

In [27]:
s.lower()

'price per unit'

In [28]:
s.capitalize()

'Price per unit'

In [29]:
s.title()

'Price Per Unit'

In [42]:
s.strip(" ")

'price per unit'

In [31]:
s.strip("per")

'ice per unit'

In [37]:
s.strip("pt")

'rice per uni'

In [45]:
s.lstrip("price")
s.rstrip("unit")

'price per '

working with a string data in pandas
and in series object

In [53]:
import pandas as pd
sd= pd.Series(["employee satisfaction rating", "employee charm rate"])
sd[0].lstrip("employee")

' satisfaction rating'

In [156]:
import pandas as pd
sd3= pd.DataFrame(data=[["employee satisfaction rating", "employee charm rate"],
                       ["employee satisfaction rating", "employee charm rate"]],
                columns=["column 1","column 2"],
                index=range(2))

In [157]:

print(sd3.columns.str.lstrip("column"))
print(sd3.columns.str.lower())
sd3

Index([' 1', ' 2'], dtype='object')
Index(['column 1', 'column 2'], dtype='object')

                       column 1             column 2
0  employee satisfaction rating  employee charm rate
1  employee satisfaction rating  employee charm rate

In [158]:
sd3.columns=sd3.columns.str.lstrip("columns").str.lower().str.replace(" ", "-")
sd3

                             -1                   -2
0  employee satisfaction rating  employee charm rate
1  employee satisfaction rating  employee charm rate

In [198]:
s2 = pd.Series(["a_b_c", "c_d_e", np.nan, "f_g_h"], dtype="string")
print(s2.str.split("_").str[2])
print(s2.str.split("_"))
print(s2.str.split("_",expand=True,n=1))
print(s2.str.rsplit("_",expand=True,n=1))

0       c
1       e
2    <NA>
3       h
dtype: object
0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object
      0     1
0     a   b_c
1     c   d_e
2  <NA>  <NA>
3     f   g_h
      0     1
0   a_b     c
1   c_d     e
2  <NA>  <NA>
3   f_g     h

In [226]:
s3 = pd.Series(
    ["A", "B", "C", "Aaba", "Baca", "", np.nan, "CABA", "dog", "cat"],
    dtype="string",)

print(s3.str.replace("^.a|dog", "X", case=False, regex=True))
print(s3.str.replace("^.a|dog", "X", case=False, regex=True))

0       A
1       B
2       C
3     Xba
4     Xca
5
6    <NA>
7     XBA
8       X
9      Xt
dtype: string
0       A
1       B
2       C
3     Xba
4     Xca
5
6    <NA>
7     XBA
8       X
9      Xt
dtype: string

In [246]:
dollars = pd.Series(["12", "-$10", "$10,000"], dtype="string")
print(dollars.str.replace(r"-\$", "-", regex=True))
print(dollars.str.replace(r"-\$", "-", regex=True))

0         12
1        -10
2    $10,000
dtype: string
0         12
1        -10
2    $10,000
dtype: string

In [249]:
pat = r"[a-z]+"
def repl(m):
    return m.group(0)[::-1]
pd.Series(["foo 123", "bar baz", np.nan], dtype="string").str.replace(
    pat, repl, regex=True)

0    oof 123
1    rab zab
2       <NA>
dtype: string

In [274]:
pat = r"[a-z]+"
def repl(m):
    return m.group(0)[::-1]
pd.Series(["foo 123", "bar baz", np.nan], dtype="string").str.replace(
    pat, repl, regex=True)
#re.match attempts a match with the beginning of a string. For example, 
#here we try to locate any uppercase letters (+ denotes one or more) at the beginning of a string.
#r’[A-Z]+’  can be broken down as follow:

#[A-Z]: Capture all the uppercase characters

#+: Occurring once or more

#As a result, the output is the string MY.

0    oof 123
1    rab zab
2       <NA>
dtype: string

In [393]:
pat = r"(?P<one>\w+) (?P<two>\w+) (?P<three>\w+)"
def repl(m):
    return m.group(0).swapcase()#group(0/1/2) or group("one"/"two"/"three")
pd.Series(["Foo Bar Baz", np.nan], dtype="string").str.replace(pat, repl, regex=True)

0    fOO bAR bAZ
1           <NA>
dtype: string

concatinate some list into series

In [323]:
s = pd.Series(["a", "b", "c", "d"], dtype="string")
t = pd.Series(["a", "b", np.nan, "d"], dtype="string")
s.str.cat(["a", "b", "c", "d"])
s.str.cat(["a", "b", np.nan, "d"])
s.str.cat(t,na_rep=" a1,d")
t

0       a
1       b
2    <NA>
3       d
dtype: string

In [394]:
d=pd.concat([t,s],axis=1)#axis 0 for index and 1 for column
s.str.cat(d,na_rep="000")
d

      0  1
0     a  a
1     b  b
2  <NA>  c
3     d  d

In [356]:
f = d.loc[[3, 2, 1, 0], :]
f2 = d.loc[[1, 3, 0, 2], :]
print(f)
print(f2)

      0  1
3     d  d
2  <NA>  c
1     b  b
0     a  a
      0  1
1     b  b
3     d  d
0     a  a
2  <NA>  c

In [377]:
u = pd.Series(["b", "d", "a", "c"], index=[1, 2, 3, 0], dtype="string")
s.str.cat([u,u.to_numpy()], join="left")#series
g=pd.concat([s,u],axis=1)#data frame
j=u.to_numpy()#numpy object

In [392]:
pd.Series(
    ["a1", "b2", "c3"],
    dtype="string",
).str.extract(r"([ab])(\d)",expand=False)

      0     1
0     a     1
1     b     2
2  <NA>  <NA>

In [54]:
sd[1].lstrip(" employee")

'charm rate'

In [58]:
pd.Series([sd[0].lstrip("employees"), sd[1].lstrip("employee")])

0     satisfaction rating
1              charm rate
dtype: object

In [57]:
sd.str.lstrip("employee")

0     satisfaction rating
1              charm rate
dtype: object

In [77]:
sd.str.match("employee charm rate")

0    False
1     True
dtype: bool

In [78]:
sd.str.match("employees")

0    False
1    False
dtype: bool

In [122]:
import numpy as np
print(np.random.randn(3,2))
print(np.random.randint(2,3))
print(np.random.random(10))
print(np.random.RandomState())
print(np.random.rand(10))

[[-3.1682502   0.37620735]
 [ 0.55519584 -0.36848918]
 [-0.77536528  0.8236028 ]]
2
[0.20075068 0.92246474 0.91972925 0.70829119 0.08244907 0.34537267
 0.10184559 0.78888424 0.1631819  0.18174489]
RandomState(MT19937)
[0.04139854 0.74385071 0.18867739 0.2791072  0.76901099 0.50230943
 0.66748763 0.47192733 0.14049871 0.78549894]

## Using the .format() Method <hr style="border:4.5px solid #108999"> </hr>

Consider the following string.

In [397]:
print("{} expect their next year's sales of Q{} to {}".format("comapany a",3,"increase"))

comapany a expect their next year's sales of Q3 to increase

Use the **.format()** method to substitute the pairs of braces in the string with the following three values, thus obtaining information about the sales of Company A for the third quarter of next year: 
<br/> 'Company A'
<br/> 3
<br/> 'increase'

Execute the next cell to create three variables that store information about companies, quarters and sales performance predictions, respectively.

In [398]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

Obtain the same output as above while referring to the three lists you just created. Use appropriate indexing to your benefit.
<br/> Here's the output you need to aim for as a reference.
<br/> "Company A expect their next year's sales of Q3 to increase."

In [399]:
"{} expect their next year's sales of Q{} to {}".format(companies[0],quarter[2],sales_performance_prediction[0])

"Company A expect their next year's sales of Q3 to increase"

Feel free to experiment with the same line of code while referencing different values from the three lists that have been given.

Here's an example:

In [403]:
"{0} expect their next year's sales of Q {2} to {1}.".format(companies[1], quarter[3], sales_performance_prediction[2])

"Company B expect their next year's sales of Q remain the same to 4."

In [409]:
"{com[0]} expect their next year's sales of Q {quar[0]} to {sale[0]}.".format(
    com=companies, quar=quarter,sale= sales_performance_prediction)

"Company A expect their next year's sales of Q 1 to increase."